.listToDo {
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 100%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.checkboxToDo {
    display: block;
    max-width: 10%;
    position: relative;
}  

.editToDo {
    display: block;
    position: relative;
}

.inputToDo {
    display: block;
}

.buttonWrapperToDo {
    display: block;
    position: relative;
}

ul {
    list-style-type: none;
}

.deleteButton {
margin-top: 10px;
margin-bottom: 20px;
background-color: #e2001a; 
border: none;
padding: 12px;
border-radius: 12px;
color: #FFFFFF;
}

.editButton {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color:#FFFFFF;
    border: 2px solid;
    border-color: #e2001a;
    padding: 12px;
    border-radius: 12px;
    color: black;
    }

.checkboxToDo {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
}

.container input:checked ~ .checkboxToDo {
    background-color: #e2001a;
  }